<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/xiaoqi</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!--<property name="hbm2ddl.auto">update</property>-->
        <!-- 设置编码方式为utf-8 -->
        <property name="connection.characterEncoding">utf-8</property>
        <mapping class="com.xiaoqi.domain.CstLinkmanEntity"/>
        <mapping resource="com/xiaoqi/domain/CstLinkmanEntity.hbm.xml"/>
        <mapping class="com.xiaoqi.domain.CustomerEntity"/>
        <mapping resource="com/xiaoqi/domain/CustomerEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>